<section id="show-branch" class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header"></h3>
      </div>
    </div>    
    <div class="col-12">
      <div class="sl_view_bottom">
      </div>
    </div>
  </div>
</section>
