<section id="edit-branch" class="container">
  <div class="row">
    <h2 class="col-12"><%= t(:edit_branch) %></h2>
  </div>
  <div class="row">
    <%= render :partial => 'layouts/notice', :locals => { :errors => @branch.errors, :notice => notice, :alert => alert } %>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', branch: @branch %>
    </div>
  </div>
</section>
