<%
    a_class = 'nav-link'
    b_class = 'nav-link'

    if params[:controller] == 'admin/users'
      a_class += ' active'
    end

    if params[:controller] == 'admin/operators'
      b_class += ' active'
    end
  %>
  <div class="col-12">
    <nav class="sub-nav">
      <ul class="nav nav-pills">
        <li class="nav-item"><%= link_to t(:user, scope: [:activerecord, :models]), admin_users_path, { :class => a_class } %></li>
        <li class="nav-item"><%= link_to t(:operator, scope: [:activerecord, :models]), admin_operators_path, { :class => b_class } %></li>
      </ul>
    </nav>
  </div>