<footer>
  <div class="container">
    <div class="row">
      <nav class="col-12">

      </nav>
      <article class="col-12 col-lg-6">
        <h2><%=link_to t(:service_name),t(:site_full_url) %></h2>
        <p><address><%=t(:company_address) %></address>
        사업자등록번호 xxx-xxxx-xxx
        </p>
      </article>
      <p class="col-12">copyright 청소 all right reserved. 2021</p>
    </div>
  </div>
</footer>
